.flight-info-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-by-airline-container {
  display: flex;
  align-items: center;
  width: 50%;
  position: absolute;
  top: 15px;
}

.search-by-airline-name-txt {
  border: none;
  border-bottom: 2px solid var(--theme-primary-color);
  border-radius: 5px;
  padding: 10px 30px 10px 15px;
  font-size: 14px;
  width: 100%;
  box-shadow: 0 1px 4px 0 var(--bs-gray);
  z-index: 900;
}

.search-by-airline-name-txt:focus {
  box-shadow: 0 1px 4px 0 var(--bs-gray);
  outline: 0;
}

.search-by-airline-container i {
  position: relative;
  right: 25px;
  color: var(--theme-secondary-color);
  z-index: 900;
}

.search-by-airline-container i.dx-icon-close {
  cursor: pointer;
}

.flight-info-list-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 100%;
  overflow: auto;
  margin-top: 60px;
}

.flight-info-list-pagination {
  margin: 5px 0;
}

::ng-deep .flight-info-list-pagination .ngx-pagination .current {
  background: var(--theme-primary-color) !important;
  border-radius: 5px;
}

::ng-deep .flight-info-list-pagination .ngx-pagination {
  margin-bottom: 0rem;
}

.flights-loader-img {
  margin-top: -100px;
}

.no-flights-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flights-base-img {
  height: auto;
  max-width: 75%;
  object-fit: contain;
}

.no-flights-img {
  height: auto;
  max-width: 65%;
  object-fit: contain;
}

.no-flights-txt {
  margin-top: 50px;
  color: var(--bs-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .search-by-airline-container {
    width: 100%;
    padding: 0 10px;
  }
  .no-flights-txt {
    font-size: 1.1rem;
  }
}
