<ng-container *ngIf="{
     flightInfoListHeight:flightInfoListHeight$ | async,
        flightInfos:flightInfos$ | async,
        isFetchingFlightInfos:flightService.isFetchingFlightInfos$ | async,
        searchByAirlineNameFieldValue:uiQuery.searchByAirlineNameFieldValue$ | async
     } as TemplateData">
    <div class="flight-info-list-container" [style.height.px]="TemplateData.flightInfoListHeight">
        <ng-container *ngIf="!TemplateData.isFetchingFlightInfos else ShowFlightsLoader">
            <div class="search-by-airline-container"
                *ngIf="TemplateData.flightInfos?.length || TemplateData.searchByAirlineNameFieldValue">
                <input [formControl]="searchByAirlineNameField" [placeholder]="'searchByAirlineName' | transloco"
                    class="search-by-airline-name-txt" type="text" />
                <i *ngIf="!TemplateData.searchByAirlineNameFieldValue" class="dx-icon-search"></i>
                <i *ngIf="TemplateData.searchByAirlineNameFieldValue" class="dx-icon-close" (click)="clearSearch()"></i>
            </div>
            <ng-container *ngIf="TemplateData.flightInfos?.length else ShowNoFlights">
                <div class="flight-info-list-display" [style.height.px]="TemplateData.flightInfoListHeight-60">
                    <app-flight-info *ngFor="let flightInfo of TemplateData.flightInfos | paginate: { itemsPerPage: 15, currentPage: currentPage };
         trackBy: trackById" [flightInfo]="flightInfo">
                    </app-flight-info>
                </div>
                <div class="flight-info-list-pagination">
                    <pagination-controls [autoHide]="true" [maxSize]="10" [responsive]="true"
                        [previousLabel]="'previous' | transloco" [nextLabel]="'next' | transloco"
                        (pageChange)="currentPage = $event">
                    </pagination-controls>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #ShowFlightsLoader>
            <img src="../../../assets/images/flight-loader.gif" class="flights-loader-img" />
        </ng-template>
        <ng-template #ShowNoFlights>
            <div class="no-flights-container">
                <ng-container *ngIf="TemplateData.isFetchingFlightInfos">
                </ng-container>
                <img [src]="TemplateData.searchByAirlineNameFieldValue?.trim() ?
                    '../../../assets/images/empty-search.png' : '../../../assets/images/world-map.png'"
                    [ngClass]="TemplateData.searchByAirlineNameFieldValue?.trim() ? 'no-flights-img':'flights-base-img'" />
                <span class="no-flights-txt">
                    {{TemplateData.searchByAirlineNameFieldValue?.trim() ?
                    ('noFlightsFoundByThisAirlineName'| transloco) :('findYourDesiredFlight'| transloco)}}
                </span>
            </div>
        </ng-template>
    </div>
</ng-container>