<div class="fligh-info-container" *ngIf="flightInfo">
    <div>
        <img [src]="flightInfo.AirlineLogoAddress" [appFallbackImage] loading="lazy" />
    </div>
    <div class="airline-info">
        <p class="airline-name"> {{flightInfo.AirlineName}}</p>
        <p class="flight-stops"> {{flightInfo.Stops}} {{'stops' | transloco}}</p>
    </div>
    <div class="flight-duration">
        <div class="inbound">
            <span>{{flightInfo.InboundFlightsDuration | formatFlightDuration}}</span>
            <i class="dx-icon-arrowright"></i>
        </div>
        <div class="outbound">
            <i class="dx-icon-arrowleft"></i>
            <span>{{flightInfo.OutboundFlightsDuration | formatFlightDuration}}</span>
        </div>
    </div>
    <div class="flight-price">
        <span>{{flightInfo.TotalAmount | currency}}</span>
    </div>
</div>